//Google fonts
@import url(https://fonts.googleapis.com/css?family=Varela+Round|Oxygen:400,300,700);

//Variables
$base-red: #E1615D;
$secondary-red: #D1524E;
$base-green: #74B363;
$secondary-green: #69A25A;
$base-blue: #41A9CC;
$secondary-blue: #3798C2;
$base-purple: #8A63B3;
$secondary-purple: #7B57AF;
$base-yellow: #FDBD57;
$secondary-yellow: #F1B14B;
$copy: #FFFDFD;

//Scss Includes
@import 'includes/slider';
@import 'includes/animation';

//Resets
* {
  font-family: 'Varela Round', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  text-decoration: none;
}

//Styles
.circle {
  margin: 45px auto;
  border-radius: 100%;
  text-align: center;
  position: relative;
  img {
    position: relative;
  }
  h2 {
    color: $copy;
    margin-top: 10px;
  }
}
.packages {
  position: relative;
  top: 140px;
  .package{
    margin-right: 5px;
  }
  .large {
    width: 90px;
  }
  .medium {
    width: 60px;
  }
  .small {
    width: 45px;
  }
}
.total {
  opacity: 0;
  &.opa {
    opacity: 1;
  }
}
.bubbles {
  width: 65px;
  &.left {
    position: absolute;
    top: 65px;
    left: -25px;
  }
  &.top {
    position: absolute;
    top: -25px;
    left: 37%;
  }
  &.right {
    position: absolute;
    right: -25px;
    top: 65px;
  }
}
.dollar {
  width: 75px;
  &.left {
    position: absolute;
    left: -30px;
    top: 120px;
  }
  &.top {
    position: absolute;
    left: 87px;
    top: 25px;
  }
  &.right {
    position: absolute;
    right: -30px;
    top: 120px;
  }
}
.slide-black {
  background-color: #373837;
  .circle {
    background-color: #373837;
  }
}
.slide-red {
  background-color: $base-red;
  .circle {
    background-color: $secondary-red;
  }
}
.slide-green {
  background-color: $base-green;
  .circle {
    background-color: $secondary-green;
    .prospect {
      margin-top: 115px;
    }
  }
}
.slide-blue {
  background-color: $base-blue;
  .circle {
    background-color: $secondary-blue;
  }
}
.slide-purple {
  background-color: $base-purple;
  .circle {
    background-color: $secondary-purple;
    .prospect {
      margin-top: 70px;
    }
    h2 {
      &:first-of-type {
        position: relative;
        top: 50px;
      }
      &:nth-of-type(2) {
        margin-top: 10px;
      }
    }
  }
}
.slide-yellow {
  background-color: $base-yellow;
  .circle {
    background-color: $secondary-yellow;
    margin: 30px auto;
  }
}


.disclaimer {
  text-align: center;
  h3 {
    color: #00bbc6;
  }
  h4 {
    text-transform: uppercase;
    color: $base-purple;
    font-size: 1.15em;
  }
  p {
    padding: 25px;
    color: #355E6C;
  }
  img {
    position: relative;
    display: block;
    margin: 50px auto;
    width: 100px;
  }
}
.visual-container {

}
.cta {
  .circle {
    .phone {
      top: 86px;
      width: 95px;
      margin-left: 25px;
    }
  }
}
.copy-container {
  position: relative;
  text-align: center;
  h1 {
    font-size: 1.3em;
    color: $copy;
  }
  p {
    font-size: 0.95em;
    line-height: 23px;
    color: $copy;
    padding: 0 10%;
  }
}

//Media Queries
@media (max-width: 499px) {
  .circle {
    width: 250px;
    height: 250px;
    .prospect{
      width: 80px;
    }
  }
  .swiper-container-horizontal > .swiper-pagination {
    top: 360px;
  }
  .slide-green .circle .prospect {
    margin-top: 65px;
  }
  .slide-purple .circle .prospect {
    margin-top: 55px;
  }
  .slide-purple .circle h2:first-of-type {
    font-size: 1em;
  }
  .slide-blue .circle .prospect {
    margin-top: 100px;
  }
  .slide-red .circle .prospect {
    margin-top: 95px;
  }
}
@media (max-width: 350px) {
  .disclaimer {
    img {
      position: relative;
      display: block;
      margin: 25px auto;
      width: 50px;
    }
    h4 {
      font-size: .90em;
    }
    p{
      font-size: 13px;
    }
  }
  .packages {
    top: 70px;
  }
  .copy-container {
    bottom: 40px;
    top: auto;
  }
}
@media (max-width: 320px){
  .swiper-button-next, .start, .join {
    height: 35px;
    line-height: 35px;
  }
  .slide-black .circle {
    width: 250px;
    height: 220px;
    margin: 35px auto 0 auto;
  }
  .slide-green .circle .prospect {
    margin-top: 55px;
  }
  .slide-purple .circle .prospect {
    margin-top: 40px;
  }
  .slide-purple .circle h2:first-of-type {
    position: relative;
    top: 35px;
  }
  .slide-purple .circle h2:nth-of-type(2) {
    margin-top: 5px;
    font-size: 20px;
  }
  .slide-blue .circle .prospect {
    margin-top: 80px;
    width: 60px;
  }
  .slide-red .circle .prospect {
    margin-top: 80px;
    width: 58px;
  }
  .circle {
    width: 200px;
    height: 200px;
    margin: 40px auto 65px auto;
    .prospect {
      width: 70px;
    }
    h2 {
      font-size: 1.2em;
      margin-top: 5px;
    }
  }
  .packages {
    top: 30px;
  }
  .large{
    width: 80px
  }
  .medium{
    width: 50px;
  }
  .small{
    width: 30px;
  }
  .bubbles {
    width: 55px;
  }
  .dollar {
    width: 60px;
    &.top {
      left: 71px;
      top: 18px;
    }
    &.left {
      left: -28px;
      top: 110px;
    }
    &.right {
      right: -28px;
      top: 110px;
    }
  }
  .copy-container {
    p {
      line-height: 20px;
      color: #FFFDFD;
      padding: 0px 5%;
      font-size: 12px;
    }
    h1 {
      font-size: 1em;
    }
  }
}
@media (min-width: 500px) {

  .swiper-container-horizontal > .swiper-pagination {
    top: 460px;
  }
}
