//Swiper Overrides
.swiper-container {
  width: 100%;
  max-width: 767px;
  height: 100%;
}
/* hide on load for initial slide */
.swiper-pagination {
  display: none;
}
/* ===================== */
.swiper-pagination {
  z-index: 1;
  height: 20px;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: transparent;
  border: 2px solid $copy;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  &:first-of-type {
    display: none; //Hide the first bullet for the disclaimer page.
  }
}
.swiper-container-horizontal > .swiper-pagination {
  top: 50%;
}
.swiper-pagination-bullet-active {
  background: $copy;
}

.swiper-button-next {
  position: absolute;
  top: initial;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 35px;
  border: 3px solid #fff;
  border-radius: 50px;
  margin-top: 0;
  -moz-background-size: 0;
  -webkit-background-size: 0;
  background-size: 0;
  background-position: initial;
  background-image: none;
  right: 0;
  color: $copy;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  &.blue {
    color: #00bbc6;
    border-color: #00bbc6;
  }
  &:after {
    content: 'Continue'
  }
}
//Buttons
.start {
  @extend .swiper-button-next;
  z-index: 100;
  &:after {
    content: 'Get Started';
  }
}
.join {
  @extend .swiper-button-next;
  z-index: 100;
  &:after {
    content: 'Get Started!'
  }
}


.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  display: none;
}
